:root {
    --topnav2-background-color: #808080;

    --topnav-background-color: gray;
    --topnav-a-background-color: #a6f5ac;
    --topnav-a-color: dodgerblue;
    --topnav-a-border-color-active: #44c553;

    --topnav-signup-color: dodgerblue;
    --topnav-signup-background-color: #a6f5ac;
    --topnav-signup-border-color: #186AA5;

    --topnav-signin-color: #44c553;
    --topnav-signin-background-color: black;
    --topnav-signin-border-color: #44c553;

    --botnav-background-color: gray;
    --botnav-a-background-color: #a6f5ac;
    --botnav-a-color: dodgerblue;
    --botnav-a-border-color-active: #44c553;

    --sidebar-background-color: #44c553;
    --sidebar-color: #186AA5;

    --team-members-color: blueviolet;

    --menubutton-color: #a6f5ac;
}

.topnav {
    background-color: var(--topnav-background-color);
    overflow: hidden;
    display: block;
    width: 100vw;
    box-shadow: 0px 0px 10px 0px;
    position: absolute;
    top: 0;
    z-index: 3;
}

.topnav #signUp {
    margin-top: 15px;
    float: left;
    border-color: var(--topnav-signup-border-color);
    color: var(--topnav-signup-color);
    width: 100px;
    background-color: var(--topnav-signup-background-color);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    outline: none;
    box-shadow: none;
}

.topnav #signIn {
    width: 100px;
    border-color: var(--topnav-signin-border-color);
    margin-top: 15px;
    float: left;
    color: var(--topnav-signin-color);
    background-color: var(--topnav-signin-background-color);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    outline: none;
    box-shadow: none;
}

#menu-button {
    padding: 1% 0 1% 0;
    margin-left: 5%;
    float: left;
    border-color: transparent;
    color: var(--menubutton-color);
    height: 100%;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 300%;
    outline: none;
    box-shadow: none;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    background-color: var(--topnav-a-background-color);
    color: var(--topnav-a-color);
    text-align: center;
    padding: 23px 16px;
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 17px;
}

.topnav span {
    float: left;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: var(--topnav-a-border-color-active);
}

.botnav {
    height: 10%;
    width: 100%;
    display: table;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: var(--botnav-background-color);
    overflow: hidden;
    box-shadow: 10px 0px 0px 0px;
}

/* Style the links inside the navigation bar */
.botnav a {
    color: var(--botnav-a-color);
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    height: 100%;
    display: table-cell;
    width: 25%;
    text-decoration: none;
    font-size: 250%;
    font-family: Sahel;
}

/* Change the color of links on hover */
.botnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.botnav a.active {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: var(--botnav-a-border-color-active);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.topnav2 {
    position: absolute;
    background-color: var(--topnav2-background-color);
    height: 13%;
    width: 100%;
}

.logo-span:before {
    content: " ";
    display: inline-block;
    width: 125px;
}

.side-bar {
    position: absolute;
    z-index: 1;
    color: var(--sidebar-color);
    direction: rtl;
    background-color: var(--sidebar-background-color);
    height: 100%;
    width: 300px;
    right: 0;
    top: 10vh;
}

.team-members {
    color: var(--team-members-color);
    text-align: right;
    font-family: Sahel;
}

.page-background {
    background-color: white;
}


span:before {
    content: " ";
    display: inline-block;
    width: 32px;
}

ul#menu li {
    display: inline;
}

html, body {
    overflow: hidden;
    height: 100%;
}

.below-600px {
    display: none;
}

.above-600px {
    display: block;
}

.side-bar-active {
    z-index: 1;
    position: absolute;
    color: var(--sidebar-color);
    direction: rtl;
    height: 100%;
    width: 40%;
    float: left;
    -webkit-transition: .4s;
    transition: .4s;
    left: 0;
    top: 13vh;
    background-color: var(--sidebar-background-color);
}

@media screen and (min-device-width: 600px) and (max-device-width: 1000px) {
    .below-600px {
        display: none !important;
    }

    .above-600px {
        display: block !important;
    }
}

@media screen and (min-device-width: 600px) {
    #botnav {
        display: none;
    }
}

@media screen and (max-device-width: 599px) {
    .side-bar {
        position: absolute;
        top: 13vh;
        color: var(--sidebar-color);
        direction: rtl;
        background-color: var(--sidebar-background-color);
        height: 100%;
        width: 40%;
        left: -40%;
        float: left;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .side-bar-active {
        z-index: 1;
        position: absolute;
        color: var(--sidebar-color);
        direction: rtl;
        height: 100%;
        width: 40%;
        float: left;
        -webkit-transition: .4s;
        transition: .4s;
        left: 0;
        top: 12vh;
        background-color: var(--sidebar-background-color);
    }

    .below-600px {
        display: block !important;
    }

    .above-600px {
        display: none !important;
    }

}