.topnav {
    background-color: black;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px;
}

.topnav #signUp {
    margin-top: 15px;
    float: left;
    width: 100px;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    outline: none;
    box-shadow: none;
    border-color: #44c553;
    color: black;
    background-color: #44c553;
}

.topnav #signIn {
    width: 100px;
    margin-top: 15px;
    float: left;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    outline: none;
    box-shadow: none;
    border-color: #44c553;
    color: black;
    background-color: #44c553;
}

#menu-button {
    padding: 1% 0 1% 0;
    margin-left: 5%;
    float: left;
    border-color: transparent;
    color: #44c553;
    height: 100%;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 300%;
    outline: none;
    box-shadow: none;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 23px 16px;
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 17px;
    background-color: #aaffb3;
    color: #44c553;
}

.topnav span {
    float: left;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #44c553;
}

.botnav {
    width: 100%;
    display: table;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: black;
    overflow: hidden;
    box-shadow: 10px 0px 0px 0px;
}

/* Style the links inside the navigation bar */
.botnav a {
    text-align: center;
    vertical-align: middle;
    padding: 5px 5px;
    height: 10vh;
    display: table-cell;
    width: 25%;
    text-decoration: none;
    font-size: 250%;
    font-family: Sahel;
    background-color: #aaffb3;
    color: #44c553;
}

/* Change the color of links on hover */
.botnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
.botnav a.active {
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #44c553;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.topnav2 {
    background-color: #E8EFF7;
    height: 10%;
}

.logo-span:before {
    content: " ";
    display: inline-block;
    width: 125px;
}

.side-bar {
    direction: rtl;
    height: 100%;
    width: 300px;
    float: right;
    color: #44c553;
    background-color: #363739;
}

.team-members {
    text-align: right;
    font-family: Sahel;
    color: #44c553;
}

.page-background {
    background-color: #242426;
}


span:before {
    content: " ";
    display: inline-block;
    width: 32px;
}

ul#menu li {
    display: inline;
}

.items-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    font-family: Sahel;
    width: calc(100vw - 300px);
    height: 84vh;
    color: white;
    background-color: dimgray;
}

.items-list li ul {
    display: inline;
}

.items-list::-webkit-scrollbar {
    transform: rotateX(180deg);
    width: 12px;
    height: 12px;
    cursor: grab;
    background-color: #E8EFF7;
}

.items-list::-webkit-scrollbar-corner {
    background-color: black;
}

.items-list::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #44c553;
}

.items-list::-webkit-scrollbar-thumb:horizontal:active {
    background-color: red;
}

.items-list::-webkit-scrollbar-thumb:vertical:active {
    background-color: red;
}

.item:hover {
    box-shadow: 0 0 1px 2px black;
    transition: box-shadow 0.4s linear;
}

html, body {
    overflow: hidden;
    height: 100%;
}

.header_below_600px {
    display: none;
    background-color: black;
}

.header_above_600px {
    display: block;
    background-color: black;
}

@media screen and (min-device-width: 600px) and (max-device-width: 1000px) {
    .header_below_600px {
        display: none;
    }

    .header_above_600px {
        display: block;
    }

    i {
        flex: 1 0 31%;
        max-width: 31%;
        max-height: 200px;
        margin: 1% 0 0 1%;
        background-color: red;
        visibility: hidden;
    }

    .item {
        text-align: right;
        flex: 1 0 31%;
        max-width: 31%;
        max-height: 200px;
        margin: 1% 0 0 1%;
        background-color: gray;
        list-style-type: none;
    }
}

@media screen and (min-device-width: 1000px) {
    i {
        flex: 1 0 21%;
        max-width: 21%;
        max-height: 200px;
        margin: 1% 0 0 1%;
        background-color: red;
        visibility: hidden;
    }

    .item {
        text-align: center;
        flex: 1 0 21%;
        max-width: 21%;
        max-height: 200px;
        margin: 1% 0 0 1%;
        background-color: gray;
        list-style-type: none;
    }
}

.side-bar-active {
    position: absolute;
    color: #44c553;
    direction: rtl;
    height: 100%;
    width: 40%;
    float: left;
    -webkit-transition: .4s;
    transition: .4s;
    left: 0;
    background-color: #363739;
}
@media screen and (min-device-width: 600px) {
    #botnav{
        display: none;
    }
}
@media screen and (max-device-width: 599px) {
    .side-bar {
        position: absolute;
        color: #44c553;
        direction: rtl;
        background-color: #363739;
        height: 100%;
        width: 40%;
        left: -40%;
        float: left;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .items-list {
        background-color: #95b1b3;
    }

    .item {
        text-align: center;
        flex: 1 0 80%;
        max-width: 80%;
        height: 50%;
        max-height: 50%;
        margin: 1% 0 0 1%;
        background-color: gray;
        list-style-type: none;
    }

    .header_below_600px {
        display: block;
    }

    .header_above_600px {
        display: none;
    }

}

