:root {
    --center-width: 1000px;
    --center-height: 50%;
}

.top-nav {
    position: absolute;
    background-color: #E8EFF7;
    right: 0;
    top: 0;
    height: 10%;
    width: 100%;
    display: block;
}

.go-home {
    font-family: Sahel;
    font-size: 3vh;
    color: #186AA5;
    text-decoration: none;
    float: left;
    text-align: center;
    vertical-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    max-width: 300px;
    transform: translate(0, -50%);
}

.go-home:visited {
    color: gray;
}

.center {
    position: absolute;
    width: var(--center-width);
    height: var(--center-height);
    left: calc(50% - var(--center-width) / 2);
    top: calc(50% - var(--center-height) / 2);
    background-color: #0a53be;
}

.supInFormContainer {
    position: absolute;
    width: var(--center-width);
    height: var(--center-height);
    left: calc(50% - var(--center-width) / 2);
    top: calc(50% - var(--center-height) / 2);
    background-color: transparent;
}

.inner-form-container {
    width: 33%;
    height: 100%;
    background-color: white;
    float: right
}

.below-600px {
    display: none;
}

.above-600px {
    display: block;
}


@media screen and (min-device-width: 600px) {
    .below-600px {
        display: none !important;
    }

    .above-600px {
        display: block !important;
    }
}


@media screen and (max-device-width: 599px) {
    .top-nav {
        position: absolute;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 15%;
        display: inline-block;
    }

    .supInFormContainer {
        position: absolute;
        height: 75%;
        left: 50%;
        top: 25%;
        width: 70%;
        transform: translate(-50%, 0);
        justify-content: center;
        display: flex;
    }

    .inner-form-container {
        width: 100%;
        height: 100%;
    }

    label[for='signin-section-button'], label[for='signup-section-button'] {
        font-size: 300% !important;
    }

    #supin-buttons {
        height: 10%;
    }

    #signup-form input {
        height: 4rem !important;
        font-size: 2rem;
        margin-top: 2rem !important;
        margin-bottom: 3rem !important;
    }

    #signin-form input {
        height: 4rem !important;
        font-size: 2rem;
        margin-top: 2rem !important;
        margin-bottom: 3rem !important;
    }

    #accept-terms {
        height: 2rem;
        width: 2rem;
        margin-top: -0.25rem !important;
    }

    label[for='accept-terms'] {
        font-size: 2rem !important;
        margin-right: 3rem !important;
        margin-top: 2rem !important;
    }

    #signup-button {
        height: 100% !important;
        font-size: 2rem;
    }

    #signin-button {
        height: 100% !important;
        font-size: 2rem;
    }

    #alert-sup, #alert-sin {
        height: 4rem !important;
    }

    #alert-sup label , #alert-sin label{
        font-size: 2rem;
    }
    #alert-sup-close, #alert-sin-close {
        height: 3rem !important;
        width: 3rem !important;
        font-size: 2rem;
    }

    .below-600px {
        display: block !important;
    }

    .above-600px {
        display: none !important;
    }

}