:root {
    --b600-button-border-color: #44c553;
    --b600-button-text-color: black;
    --b600-button-background-color: #44c553;

    --b600-row-bck-color-even: #cae9cf;
    --b600-row-bck-color-odd: #aaffb3;
    --b600-row-text-color: black;
    --b600-row-border-color: #D2E5F3;
    --b600-list-bck-color: gray;
    --s-card-background-color:#aaffb3;
}

.s-card-container {
    justify-content: center;
    display: block;
    margin: 1vh auto 1vh auto;
    overflow-y: scroll;
    font-family: Sahel;
    font-size: 3vw;
    background-color: var(--b600-list-bck-color);
    height: 100%;
}
#ranking-layout-below-600px{
    position: absolute;
    display: none;
    top: 13%;
    left: 10vw;
    height: 70%;
    background-color: #0a53be;
}
#ranking-layout-below-600px button{
    font-family: Sahel;
    font-size: 175%;
    border-color: var(--b600-button-border-color);
    color: var(--b600-button-text-color);
    background-color: var(--b600-button-background-color);
    text-align: center;
    padding: 0.5vh 2vw;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
.s-card {
    flex: 1 0 80%;
    margin: 1vh auto;
    width: 80%;
    position: center;
    background-color: #E8EFF7;
}
.s-card th {
    float: right;
    padding: 2vh 1vw 2vh 1vw;
    color: #186AA5;
}

.s-card td {
    color: #186AA5;
    float: left;
    padding: 2vh 1vw 2vh 1vw;
    max-width: 50%;
}