:root {
    --button-border-color: #44c553;
    --button-text-color: black;
    --button-background-color: #44c553;

    --header-row-bck-color: #44c553;
    --header-row-text-color: black;
    --header-row-border-color: white;

    --row-bck-color-even: #cae9cf;
    --row-bck-color-odd: #aaffb3;
    --row-text-color: black;
    --row-border-color: #D2E5F3;
}

#ranking-layout-above-600px {
    position: absolute;
    top: 15vh;
    display: none;
}

#ranking-layout-above-600px button {
    position: absolute;
    font-family: Sahel;
    font-size: 133%;
    top: 80vh;
    border-color: var(--button-border-color);
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    text-align: center;
    padding: 0 2vw;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

#ranking-table-above-600px {
    margin-left: 5vw;
    margin-top: 1vh;
    width: calc(90vw - 300px);
    max-height: 50vh;
}

#ranking-table-container{
    max-height: 90vh;
}

.ranking-header-row th {
    background-color: var(--header-row-bck-color);
    color: var(--header-row-text-color);
    padding: 2vh 0px 2vh 0; /*trbl*/
    text-align: center;
    border-color: var(--header-row-border-color);
    border-width: 1px;
}

.ranking-row {

}

.ranking-row td {
    text-align: center;
    padding: 2vh 0px 2vh 0; /*trbl*/
    border-color: var(--row-border-color);
    color: var(--row-text-color);
    border-width: 1px;
}

.ranking-row:nth-child(odd) {
    background-color: var(--row-bck-color-odd);
}

.ranking-row:nth-child(even) {
    background-color: var(--row-bck-color-even);
}
